html {
    font-size: 14.4px;
    font-family: Arial,Verdana,Tahoma,sans-serif;
    background-image: url("https://egrs.jcu.edu.au/portal_css/JCU%20Theme/bg_grey_gradient.png");
    background-clip: border-box;
    height: 100%;
    line-height: 19px;
    background-attachment: scroll;
    background-position: 50% 0%;
    background-repeat: repeat-x;
}

p, h1, h2, h3, h4, div, li, a {
    font: Verdana, San-Serif;
}

h1 {
    font-size: 2.1em;
}
h1, h2 {
    letter-spacing: -0.01em;
}
h1, h2 {
    font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Arial,Tahoma,FreeSans,sans-serif;
    color: Black;
    line-height: 1.5em;
}


/*input, textarea, select, input.checkbox, input.radio {*/
   /*border-color: rgb(247, 147, 30);*/
/*}*/
/*.deform input:hover, .deform textarea:hover, .deform select {*/
    /*border-color: rgb(253, 185, 19);*/
    /*background-image: none;*/
/*}*/

.deform a.deformSeqAdd {
    color: #0066cc;
    font-size: 1.1em;
    padding-bottom: 1px;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px dashed rgba(247, 147, 30, 1);

    cursor: pointer;
}

input[type=text], input, textarea, .select_wrapper, .selector span {
    padding: 0.5em;
}

.deform .normal_font + label {
    font-weight: normal !important;
}



input:focus, textarea:focus, .deform input:focus {
    outline-color: #F7931E;
    border: 1px solid rgba(247, 147, 30, 1);
    box-shadow: 0 0 3px rgba(247, 147, 30, 0.6);
}

.deform input[type=submit] {
    outline-color: #F7931E;
    border: 1px solid rgba(247, 147, 30, 1);
    box-shadow: 0 0 3px rgba(247, 147, 30, 0.6);
}

select {
    line-height: 2em;
    padding: 0.5em;
    outline: none;
}

input[type=radio], input[type=checkbox] {
    margin-right: 1em !important;
}

input[type=text], .deform input, .deform textarea, select, input, textarea, select {
    border-radius: 3px;
    border: 1px solid rgba(247, 147, 30, 0.5);
}

input[type=text]:hover, input:hover, .deform textarea:hover, textarea:hover,  input:focus, select:focus, textarea:focus {
    background: none #fff;
    border: 1px solid rgba(247, 147, 30, 1);
    box-shadow: 0 0 3px rgba(247, 147, 30, 0.6);
}

.deform .deformClosebutton {
    color: #FF3333;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

select {
    padding-right: 5px;
}

label.select_wrapper {
    position:relative;
    display: inline-block;
}

/*label.select_wrapper::after:hover {*/
    /*color: blue !important;*/
    /*background-color: #0066cc !important;*/
/*}*/

label.select_wrapper:after {
    content:'<>';
    font:1.1em "Consolas", monospace;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:20px; top:0px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
label.select_wrapper:before {
    content:'';
    right:20px; top:0px;
    width:1.5em; height:1.5em;
    background: #fff;
    position:absolute;
    pointer-events: none;
    display:block;
}


.deform select {
    cursor:pointer;
}

textarea {
    width: 98%;
}

input[type=text].full_width, .full_width input[type=text] {
    width: 100%;
}

.deformMapSeq.location_map input {
    width: 275px;
}

input[type=text], input[type=text].half_width {
    min-width: 50%;
}


#page_title {
    padding: 0 20px;
}

#page_title h1 {
    color: #0066cc;
    margin-top: 0px;
    padding-top: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    padding-left: 94px;
    padding-right: 94px;
    height: 100%;
}

#wrapper {
    text-align: center;
    margin: auto;
    /*min-width: 1000px;*/
    margin-top: 14px;
    height: 100%;
}

#inner_wrapper {
    text-align: left;
    background-color: #fff;
    min-height: 100%;
    min-width: 600px;
    /*border: 1px solid #b1b1b1;*/
    border-bottom: none;

    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}

#header {
    background-color: #fff;
    position: relative;
    clear: both;
    float: left;
    width: 100%;
    margin-bottom: 0.5em;
}

#logo {
    float: left;
    height: 69px;
    padding: 16px;
}

#header #search form {
    margin: 0px;
    padding: 0px;
}

#header #search {
    position: absolute;
    right: 1em;;
    top: 3em;
}

#header #search input[type=text] {
    font-size: 80%;
    float: left;
    width: auto;
    color: #999;
    padding: 3px;
    margin-top: 1px;
    margin-right: 3px;
}

#header #search button {
    float: left;
    margin: 0px;
    padding: 0.25em 0.5em;
}

#title {
    float: left;
    margin-top: 24px;
}


#top_menu {
    position: absolute;
    right: 1em;
    top: 0;
}

#help_menu {
    border-bottom-right-radius: 5.76667px;
    border-bottom-left-radius: 5.76667px;
    cursor: pointer;
    color: rgb(32, 92, 144);
    text-decoration: none;
    outline: medium none;
    font-size: 80%;
    background: none repeat scroll 0% 0% rgb(227, 227, 227);
    padding: 0.0em 1em;
    float: left;
    margin-right: 0.5em;
}

#login {
    border-bottom-right-radius: 5.76667px;
    border-bottom-left-radius: 5.76667px;
    cursor: pointer;
    color: rgb(32, 92, 144);
    text-decoration: none;
    outline: medium none;
    font-size: 80%;
    background: none repeat scroll 0% 0% rgb(227, 227, 227);
    padding: 0em 1em;
    float: left;
}

#nav ul, #nav li {
    margin: 0px;
    padding: 0px;
}

#nav li {
    list-style-type: none;
}

#nav {
    font-size: 85%;
    line-height: 16px;
    font-family: Verdana, sans-serif;
    clear: both;
    background-image: linear-gradient(left, rgb(233, 79, 53) 0%, rgb(247, 147, 30) 50%, rgb(253, 185, 19) 100%);
    background-image: -o-linear-gradient(left, rgb(233, 79, 53) 0%, rgb(247, 147, 30) 50%, rgb(253, 185, 19) 100%);
    background-image: -moz-linear-gradient(left, rgb(233, 79, 53) 0%, rgb(247, 147, 30) 50%, rgb(253, 185, 19) 100%);
    background-image: -webkit-linear-gradient(left, rgb(233, 79, 53) 0%, rgb(247, 147, 30) 50%, rgb(253, 185, 19) 100%);
    background-image: -ms-linear-gradient(left, rgb(233, 79, 53) 0%, rgb(247, 147, 30) 50%, rgb(253, 185, 19) 100%);

    background-image: -webkit-gradient(linear, left bottom, left bottom, color-stop(0, rgb(233, 79, 53) 0%), color-stop(0.57, rgb(247, 147, 30) 50%),color-stop(0.57, rgb(253, 185, 19) 100%));

    /*background: url("images/nav_tile.bmp") repeat-y #00aeef;*/
    margin: 0px;
    padding: 0px;
    position: relative;
    margin-bottom: 0.5em;
    float: left;
    width: 100%;
}

.deform input[type=radio] {
    display: inline;
}


#nav a {
    padding: 0.75em 0.5em;
    padding-bottom: 9.18333px;
    min-width: 73.4px;
    text-align: center;

    color: #fff;
    text-decoration: none;
    display: block;
    margin: 0px;
    float: left;
}

#nav a:hover {
    background-color: rgb(247, 147, 30);
}

#nav a.current {
    background-color: rgb(253, 185, 19);
}


#center {
    clear: both;
    position: relative;
    width: 100%;
}

#sidebar {
    /*display: inline-block;*/
    float: left;
}

#sidebar #sidebar_contextual_options {
    /*width: 200px;*/
    position: relative;
    /*background-color: #ffffff;*/
    /*padding: 20px 1%;*/
    /*left: 5px;*/
    top: 60px;
    margin-left: 5px;
    margin-right: 0px;
    padding-top: 0;
    display: inline-block;
    float: left;
    overflow: visible;

    /*-webkit-border-radius: 5px;*/
    /*-moz-border-radius: 5px;*/
    /*border-radius: 5px;*/
    /*.rounded-corners {*/
    /*behavior: url(/css/border-radius.htc);*/
    /*}*/
}

#sidebar #sidebar_contextual_options h3 {
    color: #0066cc;
    font-size: 1em;
    margin: 0px;
    border-top: 1px dashed #ffcc00;
}

#sidebar #sidebar_contextual_options ul li a, #sidebar #sidebar_contextual_options ul li a:visited {
    color: #0066cc;
    border-top: 1px dashed #fff;
    border-left: 1px dashed #fff;
    /*border: none;*/
    border-bottom: 1px solid #ffcc00;
    text-shadow: none;
    text-decoration: none;
    display: block;
    padding: 10px;
    min-width: 30%;
    position: relative;
    bottom: 1px;
    left: 0px;
    margin-left: 10px;
    margin-bottom: -1px;
    z-index: 1;

}

#sidebar #sidebar_contextual_options ul li a:hover {
    border-color: #ffcc00;
    border-right: 0px white solid;
    border-style: solid;
    /*border-radius: 5px 0 0 5px;*/
    /*-moz-box-shadow: 0 0 5px #888;*/
    /*-webkit-box-shadow: 0 0 5px#888;*/
    box-shadow: 0 0 4px #bcbcbc;
    z-index: 10;
}

#sidebar_contextual_options{
    padding: 0px;
    margin: 0px;
    margin-left: 10px;
    z-index: 0;
}

#sidebar #sidebar_contextual_options ul {
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 0px;
}

#sidebar #sidebar_contextual_options ul li {
    display: block;
    list-style-type: none;
}


#content {
    width: 100%;
    /*max-width: 70%;*/
    min-width: 575px;
    margin: 0;
    /*margin-left: 0px;*/
    /*padding-left: 2%;*/
    margin-bottom: 20px;
    /*border-left: 1px solid #e8e8e8;*/
    position: relative;
    /*right: 1%;*/
    display: inline-block;
}


#content #main {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#content #main h1 {
    padding: 4px 10px;
}

#message {
    background: #efefef;
    padding: 10px;
    border: solid 1px #00AEEF;
    border-left: none;
    border-right: none;
    color: #009cd6;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.rounded-corners {
    behavior: url(/css/border-radius.htc);
}


div#workflow ul {
    display: block;
    clear: both;
}

div#main {
    float: left;
    clear: both;
}

.rounded-corners {
    behavior: url(/css/border-radius.htc);
}

.deformInlineMappingFieldset .inline_mapping li {
    display: block;
    float: left;
    clear: none;
}

.deformInlineMappingFieldset .inline_mapping li.section.description {
    float: none;
    clear: both;
}

.deform fieldset, .deform fieldset:hover {
    border: 0px solid red;
    padding: 0px;
    margin: 0px;
}

.deform legend.collapsible {
    font-size: 1.4em;
    padding-left: 0px;
    font-weight: bolder;
    color: #3f3e3e;
    /*text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;*/
}

.deform legend {
    font-size: 1.2em;
    padding-left: 0px;
    font-weight: bold;
}

.deform legend .collapse_icon {
    text-shadow: none;
}

.deform label {
    font-size: 1.1em;
}

form.deform, .wizard  {
    border: 1px ridge rgb(253, 185, 19);
    background-color: #f8f8f8;
    border-radius: 0.5em 0.5em 0.5em 0.5em;

    box-shadow: inset 0px 0px 2px #fff;

    padding: 10px;
    margin: 0;
    min-height: 300px;
}


input[type=file], .deform input[type=file] {
    border: none;
    vertical-align: middle;
    float: none;
    padding: 0;
    margin-top: 0.35em;
}

.deform button.current, .deform input[type=submit].current,.wizard button.current, .wizard input[type=submit].current, .deform .deformSave.current,
.deform .buttonText.current, .deform .submit.current, .buttonText.current, .submit, button.current,
.deform button:hover, .deform input[type=submit]:hover,.wizard button:hover, .wizard input[type=submit]:hover, .deform .deformSave:hover,
.deform .buttonText:hover, .deform .submit:hover, .buttonText:hover, .submit:hover, button:hover  {
    box-shadow: inset 0px 0px 1px #fff, inset 2px 2px 5px rgba(0, 0, 0, 0.45);
}

.deform button, .deform input[type=submit],.wizard button, .wizard input[type=submit], .deform .deformSave,
.deform .buttonText, .deform .submit, .buttonText, .submit, button {
    box-shadow: inset 1px 1px 2px #eee;
    font-size: 0.75em;
    padding: .75em 1em;
    background: none rgb(221, 221, 221);
    border-radius: 0.5em;
    color: black;
    float: right;
    margin-left: 10px;
    margin-top: 20px;
    border: 1px solid rgb(181, 188, 199);
    cursor: pointer;
}


.deform .multi_select_sequence button {
    float: none;
    margin-top: 0;
}

.inline_mapping li {
    padding: 0px;
    margin: 0px 5px;
}

#workflow_nav {
    /*background-color: #00AEEF;*/
    /*border: 1px solid #0086b8;*/
    padding: 0px;
    margin: 0px;
    /*color: #ddb421;*/
    font-weight: bold;
    font-size: 1.1em;
    text-align: left;
    /*box-shadow: 0px 0px 2px #0086b8;*/
}

div#workflow_nav ul {
    padding: 0px;
    margin: 0;
    margin-left: 5px;
}

div#workflow_nav ul li {
    margin: 0 2px;
    color: #fff;
    list-style: none;
    display: inline;
    padding: 0px;
}


div#workflow_nav ul li button {
    cursor: pointer;
    float: none;
}

div#workflow_nav ul li button {
    font-size: 1.1em;
    border: 0px solid #ffcc00;
    border-bottom: none;
    border-radius: 0.3px 1em 0 0;
    padding: 10px;
    margin: 0px;
    color: #000;
    background-color: #ffcc00;
    font-weight: bold;
    text-shadow: -1px -1px 0px rgb(255, 255, 255);
    box-shadow: 0px 0px 5px #dadada;
}

div#workflow_nav ul li button.current {
    color: #fff;
    background-color: #ff9933;
    border-color: #ff9933;
    text-shadow: 1px 1px 0px #ff3333;
    box-shadow: inset 0px 0px 2px #000;
}


div#workflow_nav ul li button:hover {
    /*border: 1px solid #ff3333;   */
    box-shadow: inset 0px 0px 2px #000;
    border-bottom: none;
}


div#footer {
    clear: both;
    height: 100px;
    padding: 10px;
    border: 1px solid #777;
}

#ands_logo {
    float: left;
}

#footer_text {
    float: left;
    width: 880px;
    padding-left: 10px;
    padding-right: 10px;
}

#qcif_logo {
    float: right;
}


.description.first {
    /*background: #fff;*/
    /*padding: 7px 10px;*/
    /*border: 1px solid #00AEEF;*/
    /*box-shadow: #00AEEF 0px 0px 1px;*/
}

.description:hover, .inline_mapping li.description:hover {
    /*box-shadow: #ccc 0px 0px 4px;*/
}

.description.first:hover {
    /*box-shadow: #00AEEF 0px 0px 3px;*/
}

.description, .help_text, .inline_mapping .help_text, .inline_mapping .description {
    /*box-shadow: #ccc 0px 0px 1px;*/
    margin-bottom: 8px;
    margin-bottom: 8px;
    margin-top: 5px;

    /*padding: 7px 10px;*/
    /*border: 1px solid #bfbfbf;*/

    /*-webkit-border-radius: 3px;*/
    /*-moz-border-radius: 3px;*/
    /*border-radius: 3px;*/
    /*. rounded-corners {*/
        /*behavior : url( /css/border-radius.htc );*/
    /*}*/
}

.description, .help_text {
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
}

.help_text {
    /*border: 2px solid #e6ffe6;*/
}

.description li, .help_text li {
    display: list-item;
    margin: 0px;
    padding: 2px;
    list-style-position: outside;
    list-style-type: disc;
}

li.description, li.help_text {
    list-style-type: none;
}

.description ul, .help_text ul, .description ol, .help_text ol {
    display: block;
    padding: 2px 1px;
    margin-left: 20px;
}

div.description p, div.help_text p {
    padding: 2px 0px;
    margin: 0px;
}

.placeholder_text {
    color: #999;
}

.deform .hidden, .hidden, .description.first.hidden, li.hidden {
    display: none;
}

.half_width {
    width: 50%;
}

.olControlEditingToolbar .olControlModifyFeatureItemInactive {
    background-position: 0px 0px;
}
.olControlEditingToolbar .olControlModifyFeatureItemActive  {
    background-position: 0px -24px;
}

.olControlEditingToolbar .olControlDeleteFeatureItemInactive {
    background-position: -153px -1px;
}
.olControlEditingToolbar .olControlDeleteFeatureItemActive  {
    background-position: -153px -24px;
}

.olControlEditingToolbar .olControlDrawFeatureBoxItemInactive {
    background-position: -177px -1px;
}
.olControlEditingToolbar .olControlDrawFeatureBoxItemActive  {
    background-position: -177px -24px;
}


span.collapse_icon {
    color: #0066cc;
    cursor: pointer;
}

.collapse_all, .expand_all {
    cursor: pointer;
    color: #0066cc;
    text-decoration: underline;
}


.multi_select_sequence .select_fields {
    height: 70px;
    display: block;
}

.multi_select_sequence .second_field {
    margin-left: 20px;
    display: none;
}

.multi_select_sequence .third_field {
    margin-left: 40px;
    display: none;
}

.messages {
}

.error_messages, #no_javascript {
    background: rgba(255, 0, 0, 0.19);
    border: 1px solid #ffcc00;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    border-left: none;
    border-right: none;
}

.success_messages {
    background: rgba(0, 255, 0, 0.19);
    border: 1px solid #ffcc00;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    border-left: none;
    border-right: none;
}

.warning_messages {
    background: rgba(255, 128, 0, 0.19);
    border: 1px solid #ffcc00;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    border-left: none;
    border-right: none;
}


.help_icon:hover, .help_icon.current {
    border: 1px solid rgba(253, 185, 19, 0.48);
    border-radius: 2em;
    box-shadow: -1px -1px 1px rgb(253, 185, 19), -5px -5px 3px rgba(253, 185, 19, 0.32);
}

div.more_info_panel div {
    padding: 5px;
}
div.more_info_panel {
    max-width: 500px;
    padding: 10px;
    border: 1px solid #b6b6b6;
    background: #fff;
    position: absolute;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.48);
    /*top: 50%; left: 50%*/
}

.help_icon {
    border: 1px solid transparent;
    cursor: pointer;
    /*background-color: #8b8b8b;*/
    color: #0066CC;
    font-weight: bold;
    text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.47), -4px -4px 3px rgba(0, 0, 0, 0), -3px -3px 4px rgba(0, 102, 204, 0), -4px -4px 5px rgba(0, 40, 204, 0);
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
    /*position: relative;*/
    margin-bottom: 0.1em;
    font-size: 1.3em;
    padding: 0.1em 0.4em;
}


.workflow_error {
    font-weight: bold;
    font-style: italic;
    color: #3c3c3c;
}

.deform .cron-block li {
    clear: none;
}

.deform .gentleselect-label {
    border-color: rgb(253, 185, 19);
    border-width: 1px;
    background-color: #fff;
    padding: 0.5em 1.5em;
}

/*.deform .deformMappingFieldset legend {*/
    /*text-align: middle;*/
/*}*/

/*.deform .deformMappingFieldset, .deform .deformMappingFieldset:hover {*/
    /*border: 1px solid #FDB913;*/
    /*border-radius: 5px;*/
    /*border-left: 0px;*/
    /*border-right: 0px;*/
/*}*/

.wizard .dataset_select {
    background: #fff;
    margin: 1em;
    padding: 1em 1.4em 1em 1.4em;
    border: 1px solid rgb(255, 204, 0) !important;
    border-radius: 4px;
}

.wizard .dataset_select div {
    width: 98%;
    padding: 10px !important;
    border-radius: 2px;
    border: 1px solid transparent;
}
.wizard .dataset_select div:hover {
    border-color: rgb(255, 204, 0);
}
.wizard .dataset_select div.selected {
    border-color: rgb(233, 79, 53);
}

.wizard .dataset_select div * {
    padding: 0;
    margin: 0;
}

/*--------------jquery tabs selector-------------------------*/
.deform .ui-widget { font-family: inherit !important;  font-size: 1.1em !important;}
.deform .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {background: #fff !important;}

.ui-state-default {/*, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {*/
    border: 1px solid rgb(233, 79, 53) !important;
    font-weight: normal;
}

#ui-datepicker-div, .ui-datepicker {
    z-index: 999999999999999999  !important;
}

#ui-datepicker-div a.ui-state-default:hover {
    font-weight: normal !important;
}

.ui-datepicker-calendar .ui-state-default {
    border: 1px solid rgb(253, 185, 19) !important;
    display: block;
    position: relative;
}
.ui-datepicker-calendar .ui-state-default .ui-state-active {
    border: 1px solid rgb(233, 79, 53) !important;
}

.ui-state-default:hover, .ui-widget-content .ui-state-default:hover, .ui-widget-header .ui-state-default:hover {
    font-weight: bold;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid #000  !important;
    font-weight: normal;
    color: #000;
}
.ui-state-active:hover, .ui-widget-content .ui-state-active:hover, .ui-widget-header .ui-state-active:hover {
    font-weight: normal;
}


/*.ui-tabs-anchor {border: 1px solid blue; !important;}*/
.ui-widget-content {border-color: #FFCC00 !important;}
.ui-tabs.ui-widget.ui-widget-content {border-color: #FFCC00 !important;}
.ui-widget-header {
    background-image: linear-gradient(top, rgb(233, 79, 53) 15%, rgb(253, 185, 19) 35%, rgb(253, 185, 19) 100%) !important;
    background-image: -o-linear-gradient(top, rgb(233, 79, 53) 15%, rgb(253, 185, 19) 35%, rgb(253, 185, 19) 100%) !important;
    background-image: -moz-linear-gradient(top, rgb(233, 79, 53) 15%, rgb(253, 185, 19) 35%, rgb(253, 185, 19) 100%) !important;
    background-image: -webkit-linear-gradient(top, rgb(233, 79, 53) 15%, rgb(253, 185, 19) 35%, rgb(253, 185, 19) 100%) !important;
    background-image: -ms-linear-gradient(top, rgb(233, 79, 53) 15%, rgb(253, 185, 19) 35%, rgb(253, 185, 19) 100%) !important;

    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(233, 79, 53) 15%), color-stop(0.57, rgb(253, 185, 19) 35%),color-stop(0.57, rgb(253, 185, 19) 100%)) !important;
}

.ui-tabs-vertical { width: 98%; margin: 1%; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2% .1% .2% .2%; float: left;  width: 200px;}
.ui-tabs-vertical .ui-tabs-nav li {clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2% 0; }
.ui-tabs-vertical .ui-tabs-nav li a {display:block; width: 85%;}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1%; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1%; display: block; min-width: 200px; margin-left: 200px; }

.ui-tabs-panel div {
    border-radius: 2px;
    border: 1px solid transparent;
}
.ui-tabs-panel div.selectable:hover:not(.selected) {
    /*background-image: linear-gradient(left, rgb(233, 79, 53) 0%, rgb(247, 147, 30) 50%, rgb(253, 185, 19) 100%);*/
    /*background-image: -o-linear-gradient(left, rgb(233, 79, 53) 0%, rgb(247, 147, 30) 50%, rgb(253, 185, 19) 100%);*/
    /*background-image: -moz-linear-gradient(left, rgb(233, 79, 53) 0%, rgb(247, 147, 30) 50%, rgb(253, 185, 19) 100%);*/
    /*background-image: -webkit-linear-gradient(left, rgb(233, 79, 53) 0%, rgb(247, 147, 30) 50%, rgb(253, 185, 19) 100%);*/
    /*background-image: -ms-linear-gradient(left, rgb(233, 79, 53) 0%, rgb(247, 147, 30) 50%, rgb(253, 185, 19) 100%);*/

    /*background-image: -webkit-gradient(linear, left bottom, left bottom, color-stop(0, rgb(233, 79, 53) 0%), color-stop(0.57, rgb(247, 147, 30) 50%),color-stop(0.57, rgb(253, 185, 19) 100%));*/

    border: 1px solid rgb(253, 185, 19);
}
.ui-tabs-panel div.selected:not(.selectable) {border: 1px solid rgb(233, 79, 53);}
.template_selection h3 {margin: 0px; padding: 0px; font-size: 1em;}
.template_selection div {padding: 10px;}