

#dashboard-footer {
    background-color: rgb(248, 248, 248);
}

#dashboard-intro {
    padding: 10px;
    font-size: 1.05em;
}

#dashboard-footer ul li.desc {
    float: left;
    display: inline-block;
    margin-right: -1px;
    border-left: rgba(247, 147, 30, 1) 1px solid;
    border-right: rgba(247, 147, 30, 1) 1px solid;
    height: 300px;
    padding: 10px; width: 30%;
    list-style: none;
    background-color: rgb(248, 248, 248);
}

#dashboard-alerts {
    padding: 0px;
    margin: 0px;
}
.dashboard-alert {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: rgba(247, 147, 30, 1) 1px solid;
    border-bottom: rgba(247, 147, 30, 1) 1px solid;
    margin-bottom: -1px;
    list-style-type: none;
}